body, html {
  height: 100%;
}

body {
  margin: 0px;
  background-image: url("http://wallpaperget.com/images/sailor-moon-background-22.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #cccccc;
  font-size: 18px;
}

body, a:link, a:visited, a:active {
  color: lightblue;
}

.title, .addDancerButton {
  padding: 5px 12px;
  float: right;
}

.topbar {
  height: 32px;
  background-color: #555;
}

.title {
  background-color: #777;
}

.dancer {
  border: 10px solid red;
  border-radius: 10px;
  position: absolute;
}

/*.dancer.otherDance{
 background-image: url("https://media.giphy.com/media/l4Eplfm8JTnyKMQs8/giphy.gifNo se ha ampliado automáticamente porque 3 MB es muy grande. Puedes ampliarlo de todos modos o abrirlo en una nueva ventana.)");
 background-repeat: no-repeat;
 background-size: 100%;
 position:absolute;
 border: none;
 height: 200px;
 width: 200px;
}*/

.dancer.OtherDancer {
  background-image: url("https://media.giphy.com/media/Y4nCLkaoqp7aw/giphy.gif");
  background-repeat: no-repeat;
  position: absolute;
  border: none;
  height: 200px;
  width: 200px;
}